/* @import url('https://fonts.googleapis.com/css2?family=Butterfly+Kids&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Playwrite+US+Trad:wght@100..400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background:url("https://wallpapercave.com/wp/KWV4FI0.jpg") fixed;
    background-size: cover;

}
h1{
    /* font-family: "Butterfly Kids", cursive; */

    font-family: "Playwrite US Trad", cursive;
    /* margin: 17% 40%; */
    margin: 7rem 28rem;
    color: rgb(226, 241, 247);
    font-size: 15vw;
}